:root {
  /* global scope css vars */
  --playerSize: 30%; 
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background: #222222;
  color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.game {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(13, 78, 48);
}

/* players */

.player_container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.player {
  width: var(--playerSize);
  height: var(--playerSize);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* player cards */

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.card {
  width: 20%;
  height: 100%;
  margin-left: 1px;
  margin-right: 1px;
}

/* card Image */

.card_image {
  height: 100%;
  width: 100%;
}

.final_hand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.hand_rank {

}

.final_hand_cards {
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.best_cards {
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* opacity: 0.5; */
}

.final_card_image {
  height: 100%;
  width: 10%;
}

.player_name {
  text-decoration: underline;
}

.player_money {}

.player0 {
  position: absolute;
  top: calc(65%);
}

.player1 {
  position: absolute;
  top: calc(60%);
  left: calc(0%);
}

.player2 {
  position: absolute;
  top: calc(20%);
  left: calc(0%);
}

.player3 {
  position: absolute;
  top: 3%;
}

.player4 {
  position: absolute;
  top: calc(20%);
  left: calc(65%);
}

.player5 {
  position: absolute;
  top: calc(60%);
  left: calc(65%);
}

.active_player {
  color: red; 
}

/* human betting buttons */

.bet_options {
  position: absolute;
  top: calc(100% - 40px);
  left: calc(50% - 150px);
  display: flex;
  justify-content: center;
  width: 300px;
  /* position: absolute;
  background: #111111;
  width: 40%;
  height: 50px;
  left: calc(50% - 20%);
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: .99;
  z-index: -1;
  display: none; */
}

.bet_options_hide {
  display: none;
}

/* .bet_options_show { */
  /* margin-top: -50px; */
  /* z-index: 0; */
  /* display: flex; */
/* } */

.bet_button {
  background: #222222;
  height: 30px;
  width: 25%;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.bet_button:hover {
  background: #666666;
}

.bet_button_hide {
  display: none;
}

/* set the content editable to use the html placeholder value for the bet_amount element */
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  color: #666666a2;
}

.bet_amount {
  background: #222222;
  height: 30px;
  width: 20%;
  user-select: none;
  cursor: pointer;
  display: inline-block; /* need to do this to prevent cursor position issue */
  color: #dddddd;
  outline: none;
  border:none;
  line-height: 30px;
  text-align: center;
}

/* community cards */

.community_cards {
  height: 20%;
  width: 35%;
  background: rgb(8, 51, 31);
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 17.5%);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 1%;
}

.community_card {
  width: 20%;
  overflow: hidden;
  text-align: center;
}

.pot {
  position: absolute;
  top: 50%;
  left: 50%;
  background: red;
  z-index: 2;
}

.end_of_hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100px;
  width: 300px;
  top: calc(50% + 25px);
  left: calc(50% - 150px);
  background: #111111;
  z-index: 1;
  
  /* position: absolute;
  height: 100px;
  width: 300px;
  top: calc(50% + 75px);
  left: calc(50% - 150px);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111111;
  cursor: pointer;
  display: none; */
}

.end_of_hand_hide {
  display: none;
}

.deal_new_hand_button {
  background:rgb(8, 51, 31);
  padding: 5px;
}

.deal_new_hand_button:hover {
  background:rgb(13, 82, 49);
}

.deal_new_hand_button_hidden {
  display: none; 
}

/* base elem for jsx output */
/* #root {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
} */

/* .ui {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
} */

.dev_ui {
  position: absolute;
  z-index: 3;
  background: rgb(23, 34, 85);
  width: 200px;
  height: 200px;
  top: 0px;
  left: calc(100% - 200px);
}

/* generic hide utility class */
.hide {
  display: none;
}