:root {
  /* global scope css vars */
  --playerSize: 25%; 
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background: #222222;
  color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 75%;
  width: 75%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(13, 78, 48);
}

/* players */

.player_container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.player {
  width: var(--playerSize);
  height: var(--playerSize);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* player cards */

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.card {
  width: 40%;
  height: 100%;
}

/* card Image */

.card_image {
  height: 100%;
  width: 100%;
}

.final_hand {

}

.hand_rank {

}

.final_hand_cards {
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
}

.final_card_image {
  height: 100px;
  width: 75px;
}

.player_name {
  text-decoration: underline;
}

.player0 {
  position: absolute;
  top: calc(70%);
}

.player1 {
  position: absolute;
  top: calc(60%);
  left: calc(5%);
}

.player2 {
  position: absolute;
  top: calc(20%);
  left: calc(5%);
}

.player3 {
  position: absolute;
  top: 5%;
}

.player4 {
  position: absolute;
  top: calc(20%);
  left: calc(70%);
}

.player5 {
  position: absolute;
  top: calc(60%);
  left: calc(80% - 10%);
}

/* human betting buttons */

.bet_options {
  position: absolute;
  background: #111111;
  width: 40%;
  height: 50px;
  left: calc(50% - 20%);
  margin-top: -50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: .99;
  z-index: -1;
}

.bet_options_show {
  margin-top: 0%;
  z-index: 0;
}

.bet_button {
  background: #222222;
  height: 30px;
  width: 20%;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bet_button:hover {
  background: #666666;
}

/* set the content editable to use the html placeholder value for the bet_amount element */
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  color: #666666a2;
}

.bet_amount {
  background: #222222;
  height: 30px;
  width: 20%;
  user-select: none;
  cursor: pointer;
  display: inline-block; /* need to do this to prevent cursor position issue */
  color: #dddddd;
  outline: none;
  border:none;
  line-height: 30px;
  text-align: center;
}

/* community cards */

.community_cards {
  height: 30%;
  width: 50%;
  background: rgb(8, 51, 31);
  position: absolute;
  top: calc(50% - 15%);
  left: calc(50% - 25%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.community_card {
  width: 18%;
  overflow: hidden;
  text-align: center;
}

.deal_new_hand_button {
  position: absolute;
  height: 100px;
  width: 300px;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
  cursor: pointer;
}

.deal_new_hand_button_hidden {
  display: none; 
}